<h2>Class List</h2>
<table>
  <thead>
    <tr>
      <th>Class Type</th>
      <th>Instructor</th>
      <th>Level</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Register</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach(function(m) { %>
      <tr>
        <td><%= m.classType %></td>
        <td><%= m.instructor %></td>
        <td><%= m.level %></td>
        <td><%= m.date %></td>
        <td><%= m.duration %></td>
        <td><% const registerLink = null %>
          <a href="<%=registerLink%>">Register</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>