<h2>Class List</h2>
<table>
  <thead>
    <tr>
      <th>Class Type</th>
      <th>Instructor</th>
      <th>Level</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Register</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach(function(classDoc) { %>
      <tr>
        <td><%= classDoc.classType %></td>
        <td><%= classDoc.instructor %></td>
        <td><%= classDoc.level %></td>
        <td><%= classDoc.date %></td>
        <td><%= classDoc.duration %></td>
        <td><a href="/register/<%= classDoc._id %>">Register</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>