<%- include('../partials/header') %>

<ul id="all-ul">
  <li><a href="/class/new">Add New Class</a></li>
  <li><form action="/user/logout" method="get">
    <button id="logout" type="submit">Logout</button>
  </form></li>
  </ul>

<form method="GET">
  <label id="classTypeFilter" for="classTypeFilter">Class</label><br/>
  <select id="classFilter" name="classType" onchange="this.form.submit()">
    <option value="">All</option>
    <% classTypes.forEach(function(type) { %>
      <option value="<%= type %>" <%= selectedFilter === type ? 'selected' : '' %>><%= type %></option>
    <% }); %>
  </select> 
</form>

<h2 id="allClasses">Class List</h2>
<table id="timetable">
  <thead>
    <tr>
      <th>Class Type</th>
      <th>Instructor</th>
      <th>Date</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach(function(m) { %>
      <tr>
        <td><%= m.classType %></td>
        <td><%= m.instructor %></td>
        <td><%= m.date %></td>
        <td><a href="/class/details/<%= m.id %>">Details</a></td>
        <td>
          <% const classLink = `/class/${m._id}`%>
          <a href="<%=classLink%>">Edit</a>
        </td>
       <td><form action="/class/<%= m._id %>?_method=DELETE" method="POST">
          <button id="delete">Delete</button>
        </form></td> 
      </tr>
      <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>