<h2>Class List</h2>
<table>
  <thead>
    <tr>
      <th>Class Type</th>
      <th>Instructor</th>
      <th>Level</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach(function(m) { %>
      <tr>
        <td><%= m.classType %></td>
        <td><%= m.instructor %></td>
        <td><%= m.level %></td>
        <td><%= m.date %></td>
        <td><%= m.duration %></td>
        <td>
          <% const classLink = `/class/${m._id}`%>
          <a href="<%=classLink%>">Edit</a>
        </td>
       <td><form action="/class/<%= m._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form></td> 
      </tr>
      <% }); %>
  </tbody>
</table>