<%- include('../partials/header') %>

<ul id="editclass-ul">
  <li><a href="/class/all">All Class</a></li>
  <li><form action="/user/logout" method="get">
    <button id="logout" type="submit">Logout</button>
  </form></li>
  </ul>

<h2>Edit Details</h2>
<form action="/class/<%=id%>?_method=PUT" method="POST">

    <label>Class Type:
      <select class="newClassSelect" name="classType">
        <option value="Yoga" <%= classes.classType === 'Yoga' ? 'selected' : '' %>>Yoga</option>
        <option value="Pilates" <%= classes.classType === 'Pilates' ? 'selected' : '' %>>Pilates</option>
        <option value="Cycle" <%= classes.classType === 'Cycle' ? 'selected' : '' %>>Cycle</option>
        <option value="BodyCombat" <%= classes.classType === 'BodyCombat' ? 'selected' : '' %>>BodyCombat</option>
      </select>
    </label><br />

    <label>Instructor:
      <select class="newClassSelect" name="instructor">
        <option value="Harry" <%= classes.instructor === 'Harry' ? 'selected' : '' %>>Harry</option>
        <option value="Hermione" <%= classes.instructor === 'Hermione' ? 'selected' : '' %>>Hermione</option>
        <option value="Voldemort" <%= classes.instructor === 'Voldemort' ? 'selected' : '' %>>Voldemort</option>
        <option value="Snape" <%= classes.instructor === 'Snape' ? 'selected' : '' %>>Snape</option>
        <option value="Ron" <%= classes.instructor === 'Ron' ? 'selected' : '' %>>Ron</option>
    </select>
    </label><br />

    <label>Level:
      <select class="newClassSelect" name="level">
        <option value="Beginner" <%= classes.level === 'Beginner' ? 'selected' : '' %>>Beginner</option>
        <option value="Intermediate" <%= classes.level === 'Intermediate' ? 'selected' : '' %>>Intermediate</option>
        <option value="Beast" <%= classes.level === 'Beast' ? 'selected' : '' %>>Beast</option>
      </select>
    </label><br />

    <label>Date:
      <input type="datetime-local" name="date">
    </label><br />

    <label class="newClassLabel">Duration:
      <input name="duration" value="45 mins">
    </label><br /><br/>

    <button id="newClassBtn" type="submit">Save Changes</button>
  
  </form>

  <%- include('../partials/footer') %>