<section id="show-page">
    <div>Class Type: </div>
    <div><%= classes.classType %></div>
    <div>Instructor: </div>
    <div><%= classes.instructor %></div>
    <div>Level: </div>
    <div><%= classes.level %></div>
    <div>Date: </div>
    <div><%= classes.date %></div>
    <div>Duration: </div>
    <div><%= classes.duration %></div>
  </section>
  
  