<%- include('../partials/header') %>

<ul id="showclass-ul">
  <li><a href="/class/all">All Class</a></li>
  <li><form action="/user/logout" method="get">
    <button id="logout" type="submit">Logout</button>
  </form></li>
  </ul>

<section id="show-page">
    <p>Class Type: <%= classes.classType %></p> 
    <p>Instructor: <%= classes.instructor %></p> 
    <p>Level: <%= classes.level %></p> 
    <p>Date: <%= classes.date %></p> 
    <p>Duration: <%= classes.duration %></p> 
  </section>
  
  <br/><br/>

  <h2 id="registered">Registered Members</h2>
  <table id="registeredMember">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% classes.registration.forEach(function(r) { %>
      <tr>
       <td><%= r.name %></td>
      <td><%= r.email %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>