<%- include('../partials/header') %>


<form method="GET">
  <label id="classTypeFilter" for="classTypeFilter">Class</label><br/>
  <select id="classFilter" name="classType" onchange="this.form.submit()">
    <option value="">All</option>
    <% classTypes.forEach(function(type) { %>
        <option value="<%= type %>" <%= selectedFilter === type ? 'selected' : '' %>><%= type %></option>
    <% }); %>
  </select>
</form>

<form action="/user/logout" method="get">
  <button id="logoutList" type="submit">Logout</button>
</form>

<h2>Class List</h2>
<table id="listTable">
  <thead>
    <tr>
      <th>Class Type</th>
      <th>Instructor</th>
      <th>Level</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Register</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach(function(classDoc) { %>
      <tr>
        <td><%= classDoc.classType %></td>
        <td><%= classDoc.instructor %></td>
        <td><%= classDoc.level %></td>
        <td><%= dayjs(classDoc.date).format("D MMM YY HH:mm a") %></td>
        <td><%= classDoc.duration %></td>
        <td><button id="register"><a id="registerLink" href="/register/<%= classDoc._id %>">Register</a></button></td>
      </tr>
      <% }); %>
  </tbody>
</table>